obj/*
bin/*
tests/*.am
.DS_Store
tests/test4.data
tests/test4.instruction
tests/test4.symbol
tests/test1.am
tests/test1.data
tests/test1.instruction
tests/test1.symbol
tests/test2.data
tests/test2.instruction
tests/test2.symbol
tests/test3.data
tests/test3.instruction
tests/test3.symbol
tests/test5.data
tests/test5.instruction
tests/test5.symbol
tests/test6.data
tests/test6.instruction
tests/test6.symbol
tests/test1.am
